services:
  mysql:
    image: 'mysql:8.0'
    environment:
      - 'MYSQL_DATABASE=nochu'
      - 'MYSQL_ROOT_PASSWORD=12345'
      - 'MYSQL_USER=nochu'
      - 'MYSQL_PASSWORD=12345'
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
